.Send_TopUp {
    // max-width: 300px;
    font-family: "Lato";
    font-size: 26px;
    font-weight: bold;
    border-radius: 10px;
    vertical-align: center;
    background-color: $brand-primary;
    display: block !important;


}
.glyphicon-send-2:before {
    content: "";
    vertical-align: middle;
    padding-left: 95px;
}

.hvr-icon-wobble-horizontal:before{
    content: url(../images/SEND2.png)
}

