input.form-control {
    text-align: center;
    margin-bottom: 15px;
    border: 3px solid #49149f;
    height: 60px;
    border-radius: 10px;
    font-size: 20px;
    &::placeholder {
        font-family: "Lato";
        color: rgb( 18, 33, 52);
    }
}
