body#home {
    .intl-tel-input {
        margin-bottom: 50px;
        @extend .center-block;
        width: 100%;
        .selected-flag {
            .iti-flag {
                width: 80px;
                transform: scale(.8);
                border-radius: 10px;
            }
            .iti-arrow {
                background-image: url('../images/arrows2.png');
                background-repeat: no-repeat;
                border-left: 0 solid transparent;
                border-right: 0 solid transparent;
                border-top: 0 solid transparent;
                margin-top: 10px;
            }
        }
        input#phone {
            width: inherit;
            height: 48px;
            border-radius: 10px;
            border: 1px solid transparent;
            background-image: url('../images/search.png');
            background-color: transparent;
            font-size: 22px;
            color: $brand-primary;
            font-weight: 600;
            &::placeholder {
                color: rgba(73, 20, 159, 0.50);
                font-size: 18px;
                font-weight: 600;
            }
        }
    }
}
