.navbar-brand > img {
    width: 114px;
}

button.navbar-toggle,
button.navbar-toggle.collapsed {
    background-color: $brand-primary;
    .icon-bar {
        background-color: #fff;
    }
}

#navbar {
    ul {
        li {
            a {
                font-size: 20px;
            }
        }
    }
}

@media (max-width: $screen-sm) {
    #navbar > ul {
        background-color: darken($brand-primary, 15%)  !important;
        color: #fff;
        text-align: center;
        ;
        &:hover {
            background-color: $brand-primary !important;
        }
        li {
            border-top: 1px solid #eee;
            &:hover {
                background-color: $brand-primary !important;
            }
            a {
                color: #fff;
                &:hover {
                    background-color: darken($brand-primary, 15%)  !important;
                }
            }
        }
    }
}
