body {
    font: $lato;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-color: transparent;
    hr {
        margin-top: 50px;
        margin-bottom: 30px;
        border: 0;
        border-top: 2px solid #777;
    }
    .ttp-bg {
        background: linear-gradient(180deg, #fff 0%, transparent 45% );
    }
}
.green{
  background-color: $green;
}

.white-text{
  color: #fff !important;
}
