.intl-tel-input {
    position: relative;
    display: inline-block;
}
.intl-tel-input * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.intl-tel-input .hide {
    display: none;
}
.intl-tel-input .v-hide {
    visibility: hidden;
}
.intl-tel-input input,
.intl-tel-input input[type=tel],
.intl-tel-input input[type=text] {
    position: relative;
    z-index: 0;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-right: 112px;
    margin-right: 0;
}
.intl-tel-input .flag-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 0px;
}
.intl-tel-input .selected-flag {
    z-index: 1;
    position: relative;
    width: 112px;
    height: 100%;
    padding: 0 0 0 0px;
}
.intl-tel-input .selected-flag .iti-flag {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
.intl-tel-input .selected-flag .iti-arrow {
    position: absolute;
    top: 50%;
    margin-top: 4px;
    right: 39px;
    width: 20px;
    height: 13px;
    /* border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid #555; */
    background-image: url('../images/arrows2.png');
    background-repeat: no-repeat;
}
.intl-tel-input .selected-flag .iti-arrow.up {
    border-top: none;
    border-bottom: 8px solid #555;
}
.intl-tel-input .country-list {
    position: absolute;
    z-index: 2;
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0 0 0 -1px;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
    background-color: white;
    border: 1px solid #CCC;
    white-space: nowrap;
    max-height: 500px;
    overflow-y: scroll;
}
.intl-tel-input .country-list.dropup {
    bottom: 100%;
    margin-bottom: -1px;
}
.intl-tel-input .country-list .flag-box {
    display: inline-block;
    width: 80px;
}
@media (max-width: 500px) {
    .intl-tel-input .country-list {
        white-space: normal;
    }
}
.intl-tel-input .country-list .divider {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #CCC;
}
.intl-tel-input .country-list .country {
    padding: 15px 20px;
}
.intl-tel-input .country-list .country .dial-code {
    color: #999;
}
.intl-tel-input .country-list .country.highlight {
    background-color: rgba(0,0,0,0.05);
}
.intl-tel-input .country-list .country-name,
.intl-tel-input .country-list .dial-code,
.intl-tel-input .country-list .flag-box {
    vertical-align: middle;
}
.intl-tel-input .country-list .country-name,
.intl-tel-input .country-list .flag-box {
    margin-right: 20px;
}
.intl-tel-input.allow-dropdown input,
.intl-tel-input.allow-dropdown input[type=tel],
.intl-tel-input.allow-dropdown input[type=text] {
    padding-right: 12px;
    padding-left: 110px;
    margin-left: 0;
}
.intl-tel-input.allow-dropdown .flag-container {
    right: auto;
    left: 0;
}
.intl-tel-input.allow-dropdown .selected-flag {
    width: 90px;
    border-right: 1px solid #777;
}
.intl-tel-input.allow-dropdown .flag-container:hover {
    cursor: pointer;
}
.intl-tel-input.allow-dropdown .flag-container:hover .selected-flag {
    background-color: rgba(0,0,0,0.05);
}
.intl-tel-input.allow-dropdown input[disabled]+.flag-container:hover,
.intl-tel-input.allow-dropdown input[readonly]+.flag-container:hover {
    cursor: default;
}
.intl-tel-input.allow-dropdown input[disabled]+.flag-container:hover .selected-flag,
.intl-tel-input.allow-dropdown input[readonly]+.flag-container:hover .selected-flag {
    background-color: transparent;
}
.intl-tel-input.allow-dropdown.separate-dial-code .selected-flag {
    background-color: rgba(0,0,0,0.05);
    display: table;
}
.intl-tel-input.allow-dropdown.separate-dial-code .selected-dial-code {
    display: table-cell;
    vertical-align: middle;
    padding-left: 96px;
}
.intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-2 input,
.intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-2 input[type=tel],
.intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-2 input[type=text] {
    padding-left: 176px;
}
.intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-2 .selected-flag {
    width: 164px;
}
.intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-3 input,
.intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-3 input[type=tel],
.intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-3 input[type=text] {
    padding-left: 184px;
}
.intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-3 .selected-flag {
    width: 172px;
}
.intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-4 input,
.intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-4 input[type=tel],
.intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-4 input[type=text] {
    padding-left: 192px;
}
.intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-4 .selected-flag {
    width: 180px;
}
.intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-5 input,
.intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-5 input[type=tel],
.intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-5 input[type=text] {
    padding-left: 200px;
}
.intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-5 .selected-flag {
    width: 188px;
}
.intl-tel-input.iti-container {
    position: absolute;
    top: -1000px;
    left: -1000px;
    z-index: 1060;
    padding: 1px;
}
.intl-tel-input.iti-container:hover {
    cursor: pointer;
}
.iti-mobile .intl-tel-input.iti-container {
    top: 30px;
    bottom: 30px;
    left: 30px;
    right: 30px;
    position: fixed;
}
.iti-mobile .intl-tel-input .country-list {
    max-height: 100%;
    width: 100%;
}
.iti-mobile .intl-tel-input .country-list .country {
    padding: 10px;
    line-height: 1.5em;
}
.iti-flag {
    width: 80px;
}
.iti-flag.be {
    width: 69px;
}
.iti-flag.ch {
    width: 60px;
}
.iti-flag.mc {
    width: 75px;
}
.iti-flag.ne {
    width: 70px;
}
.iti-flag.np {
    width: 49px;
}
.iti-flag.va {
    width: 60px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .iti-flag {
        background-size: 20975px 60px;
    }
}
.iti-flag.ac {
    height: 40px;
    background-position: 0 0;
}
.iti-flag.ad {
    height: 56px;
    background-position: -82px 0;
}
.iti-flag.ae {
    height: 40px;
    background-position: -164px 0;
}
.iti-flag.af {
    height: 54px;
    background-position: -246px 0;
}
.iti-flag.ag {
    height: 54px;
    background-position: -328px 0;
}
.iti-flag.ai {
    height: 40px;
    background-position: -410px 0;
}
.iti-flag.al {
    height: 57px;
    background-position: -492px 0;
}
.iti-flag.am {
    height: 40px;
    background-position: -574px 0;
}
.iti-flag.ao {
    height: 54px;
    background-position: -656px 0;
}
.iti-flag.aq {
    height: 54px;
    background-position: -738px 0;
}
.iti-flag.ar {
    height: 50px;
    background-position: -820px 0;
}
.iti-flag.as {
    height: 40px;
    background-position: -902px 0;
}
.iti-flag.at {
    height: 54px;
    background-position: -984px 0;
}
.iti-flag.au {
    height: 40px;
    background-position: -1066px 0;
}
.iti-flag.aw {
    height: 54px;
    background-position: -1148px 0;
}
.iti-flag.ax {
    height: 53px;
    background-position: -1230px 0;
}
.iti-flag.az {
    height: 40px;
    background-position: -1312px 0;
}
.iti-flag.ba {
    height: 40px;
    background-position: -1394px 0;
}
.iti-flag.bb {
    height: 54px;
    background-position: -1476px 0;
}
.iti-flag.bd {
    height: 48px;
    background-position: -1558px 0;
}
.iti-flag.be {
    height: 60px;
    background-position: -1640px 0;
}
.iti-flag.bf {
    height: 54px;
    background-position: -1711px 0;
}
.iti-flag.bg {
    height: 48px;
    background-position: -1793px 0;
}
.iti-flag.bh {
    height: 48px;
    background-position: -1875px 0;
}
.iti-flag.bi {
    height: 48px;
    background-position: -1957px 0;
}
.iti-flag.bj {
    height: 54px;
    background-position: -2039px 0;
}
.iti-flag.bl {
    height: 54px;
    background-position: -2121px 0;
}
.iti-flag.bm {
    height: 40px;
    background-position: -2203px 0;
}
.iti-flag.bn {
    height: 40px;
    background-position: -2285px 0;
}
.iti-flag.bo {
    height: 55px;
    background-position: -2367px 0;
}
.iti-flag.bq {
    height: 54px;
    background-position: -2449px 0;
}
.iti-flag.br {
    height: 56px;
    background-position: -2531px 0;
}
.iti-flag.bs {
    height: 40px;
    background-position: -2613px 0;
}
.iti-flag.bt {
    height: 54px;
    background-position: -2695px 0;
}
.iti-flag.bv {
    height: 58px;
    background-position: -2777px 0;
}
.iti-flag.bw {
    height: 54px;
    background-position: -2859px 0;
}
.iti-flag.by {
    height: 40px;
    background-position: -2941px 0;
}
.iti-flag.bz {
    height: 54px;
    background-position: -3023px 0;
}
.iti-flag.ca {
    height: 40px;
    background-position: -3105px 0;
}
.iti-flag.cc {
    height: 40px;
    background-position: -3187px 0;
}
.iti-flag.cd {
    height: 60px;
    background-position: -3269px 0;
}
.iti-flag.cf {
    height: 54px;
    background-position: -3351px 0;
}
.iti-flag.cg {
    height: 54px;
    background-position: -3433px 0;
}
.iti-flag.ch {
    height: 60px;
    background-position: -3515px 0;
}
.iti-flag.ci {
    height: 54px;
    background-position: -3577px 0;
}
.iti-flag.ck {
    height: 40px;
    background-position: -3659px 0;
}
.iti-flag.cl {
    height: 54px;
    background-position: -3741px 0;
}
.iti-flag.cm {
    height: 54px;
    background-position: -3823px 0;
}
.iti-flag.cn {
    height: 54px;
    background-position: -3905px 0;
}
.iti-flag.co {
    height: 54px;
    background-position: -3987px 0;
}
.iti-flag.cp {
    height: 54px;
    background-position: -4069px 0;
}
.iti-flag.cr {
    height: 48px;
    background-position: -4151px 0;
}
.iti-flag.cu {
    height: 40px;
    background-position: -4233px 0;
}
.iti-flag.cv {
    height: 47px;
    background-position: -4315px 0;
}
.iti-flag.cw {
    height: 54px;
    background-position: -4397px 0;
}
.iti-flag.cx {
    height: 40px;
    background-position: -4479px 0;
}
.iti-flag.cy {
    height: 53px;
    background-position: -4561px 0;
}
.iti-flag.cz {
    height: 54px;
    background-position: -4643px 0;
}
.iti-flag.de {
    height: 48px;
    background-position: -4725px 0;
}
.iti-flag.dg {
    height: 40px;
    background-position: -4807px 0;
}
.iti-flag.dj {
    height: 54px;
    background-position: -4889px 0;
}
.iti-flag.dk {
    height: 60px;
    background-position: -4971px 0;
}
.iti-flag.dm {
    height: 40px;
    background-position: -5053px 0;
}
.iti-flag.do {
    height: 50px;
    background-position: -5135px 0;
}
.iti-flag.dz {
    height: 54px;
    background-position: -5217px 0;
}
.iti-flag.ea {
    height: 54px;
    background-position: -5299px 0;
}
.iti-flag.ec {
    height: 54px;
    background-position: -5381px 0;
}
.iti-flag.ee {
    height: 51px;
    background-position: -5463px 0;
}
.iti-flag.eg {
    height: 54px;
    background-position: -5545px 0;
}
.iti-flag.eh {
    height: 40px;
    background-position: -5627px 0;
}
.iti-flag.er {
    height: 40px;
    background-position: -5709px 0;
}
.iti-flag.es {
    height: 54px;
    background-position: -5791px 0;
}
.iti-flag.et {
    height: 40px;
    background-position: -5873px 0;
}
.iti-flag.eu {
    height: 54px;
    background-position: -5955px 0;
}
.iti-flag.fi {
    height: 49px;
    background-position: -6037px 0;
}
.iti-flag.fj {
    height: 40px;
    background-position: -6119px 0;
}
.iti-flag.fk {
    height: 40px;
    background-position: -6201px 0;
}
.iti-flag.fm {
    height: 42px;
    background-position: -6283px 0;
}
.iti-flag.fo {
    height: 58px;
    background-position: -6365px 0;
}
.iti-flag.fr {
    height: 54px;
    background-position: -6447px 0;
}
.iti-flag.ga {
    height: 60px;
    background-position: -6529px 0;
}
.iti-flag.gb {
    height: 40px;
    background-position: -6611px 0;
}
.iti-flag.gd {
    height: 48px;
    background-position: -6693px 0;
}
.iti-flag.ge {
    height: 54px;
    background-position: -6775px 0;
}
.iti-flag.gf {
    height: 54px;
    background-position: -6857px 0;
}
.iti-flag.gg {
    height: 54px;
    background-position: -6939px 0;
}
.iti-flag.gh {
    height: 54px;
    background-position: -7021px 0;
}
.iti-flag.gi {
    height: 40px;
    background-position: -7103px 0;
}
.iti-flag.gl {
    height: 54px;
    background-position: -7185px 0;
}
.iti-flag.gm {
    height: 54px;
    background-position: -7267px 0;
}
.iti-flag.gn {
    height: 54px;
    background-position: -7349px 0;
}
.iti-flag.gp {
    height: 54px;
    background-position: -7431px 0;
}
.iti-flag.gq {
    height: 54px;
    background-position: -7513px 0;
}
.iti-flag.gr {
    height: 54px;
    background-position: -7595px 0;
}
.iti-flag.gs {
    height: 40px;
    background-position: -7677px 0;
}
.iti-flag.gt {
    height: 50px;
    background-position: -7759px 0;
}
.iti-flag.gu {
    height: 43px;
    background-position: -7841px 0;
}
.iti-flag.gw {
    height: 40px;
    background-position: -7923px 0;
}
.iti-flag.gy {
    height: 48px;
    background-position: -8005px 0;
}
.iti-flag.hk {
    height: 54px;
    background-position: -8087px 0;
}
.iti-flag.hm {
    height: 40px;
    background-position: -8169px 0;
}
.iti-flag.hn {
    height: 40px;
    background-position: -8251px 0;
}
.iti-flag.hr {
    height: 40px;
    background-position: -8333px 0;
}
.iti-flag.ht {
    height: 48px;
    background-position: -8415px 0;
}
.iti-flag.hu {
    height: 40px;
    background-position: -8497px 0;
}
.iti-flag.ic {
    height: 54px;
    background-position: -8579px 0;
}
.iti-flag.id {
    height: 54px;
    background-position: -8661px 0;
}
.iti-flag.ie {
    height: 40px;
    background-position: -8743px 0;
}
.iti-flag.il {
    height: 58px;
    background-position: -8825px 0;
}
.iti-flag.im {
    height: 40px;
    background-position: -8907px 0;
}
.iti-flag.in {
    height: 54px;
    background-position: -8989px 0;
}
.iti-flag.io {
    height: 40px;
    background-position: -9071px 0;
}
.iti-flag.iq {
    height: 54px;
    background-position: -9153px 0;
}
.iti-flag.ir {
    height: 46px;
    background-position: -9235px 0;
}
.iti-flag.is {
    height: 58px;
    background-position: -9317px 0;
}
.iti-flag.it {
    height: 54px;
    background-position: -9399px 0;
}
.iti-flag.je {
    height: 48px;
    background-position: -9481px 0;
}
.iti-flag.jm {
    height: 40px;
    background-position: -9563px 0;
}
.iti-flag.jo {
    height: 40px;
    background-position: -9645px 0;
}
.iti-flag.jp {
    height: 54px;
    background-position: -9727px 0;
}
.iti-flag.ke {
    height: 54px;
    background-position: -9809px 0;
}
.iti-flag.kg {
    height: 48px;
    background-position: -9891px 0;
}
.iti-flag.kh {
    height: 51px;
    background-position: -9973px 0;
}
.iti-flag.ki {
    height: 40px;
    background-position: -10055px 0;
}
.iti-flag.km {
    height: 48px;
    background-position: -10137px 0;
}
.iti-flag.kn {
    height: 54px;
    background-position: -10219px 0;
}
.iti-flag.kp {
    height: 40px;
    background-position: -10301px 0;
}
.iti-flag.kr {
    height: 54px;
    background-position: -10383px 0;
}
.iti-flag.kw {
    height: 40px;
    background-position: -10465px 0;
}
.iti-flag.ky {
    height: 40px;
    background-position: -10547px 0;
}
.iti-flag.kz {
    height: 40px;
    background-position: -10629px 0;
}
.iti-flag.la {
    height: 54px;
    background-position: -10711px 0;
}
.iti-flag.lb {
    height: 54px;
    background-position: -10793px 0;
}
.iti-flag.lc {
    height: 40px;
    background-position: -10875px 0;
}
.iti-flag.li {
    height: 48px;
    background-position: -10957px 0;
}
.iti-flag.lk {
    height: 40px;
    background-position: -11039px 0;
}
.iti-flag.lr {
    height: 42px;
    background-position: -11121px 0;
}
.iti-flag.ls {
    height: 54px;
    background-position: -11203px 0;
}
.iti-flag.lt {
    height: 48px;
    background-position: -11285px 0;
}
.iti-flag.lu {
    height: 48px;
    background-position: -11367px 0;
}
.iti-flag.lv {
    height: 40px;
    background-position: -11449px 0;
}
.iti-flag.ly {
    height: 40px;
    background-position: -11531px 0;
}
.iti-flag.ma {
    height: 54px;
    background-position: -11613px 0;
}
.iti-flag.mc {
    height: 60px;
    background-position: -11695px 0;
}
.iti-flag.md {
    height: 40px;
    background-position: -11772px 0;
}
.iti-flag.me {
    height: 40px;
    background-position: -11854px 0;
}
.iti-flag.mf {
    height: 54px;
    background-position: -11936px 0;
}
.iti-flag.mg {
    height: 54px;
    background-position: -12018px 0;
}
.iti-flag.mh {
    height: 42px;
    background-position: -12100px 0;
}
.iti-flag.mk {
    height: 40px;
    background-position: -12182px 0;
}
.iti-flag.ml {
    height: 54px;
    background-position: -12264px 0;
}
.iti-flag.mm {
    height: 54px;
    background-position: -12346px 0;
}
.iti-flag.mn {
    height: 40px;
    background-position: -12428px 0;
}
.iti-flag.mo {
    height: 54px;
    background-position: -12510px 0;
}
.iti-flag.mp {
    height: 40px;
    background-position: -12592px 0;
}
.iti-flag.mq {
    height: 54px;
    background-position: -12674px 0;
}
.iti-flag.mr {
    height: 54px;
    background-position: -12756px 0;
}
.iti-flag.ms {
    height: 40px;
    background-position: -12838px 0;
}
.iti-flag.mt {
    height: 54px;
    background-position: -12920px 0;
}
.iti-flag.mu {
    height: 54px;
    background-position: -13002px 0;
}
.iti-flag.mv {
    height: 54px;
    background-position: -13084px 0;
}
.iti-flag.mw {
    height: 54px;
    background-position: -13166px 0;
}
.iti-flag.mx {
    height: 46px;
    background-position: -13248px 0;
}
.iti-flag.my {
    height: 40px;
    background-position: -13330px 0;
}
.iti-flag.mz {
    height: 54px;
    background-position: -13412px 0;
}
.iti-flag.na {
    height: 54px;
    background-position: -13494px 0;
}
.iti-flag.nc {
    height: 40px;
    background-position: -13576px 0;
}
.iti-flag.ne {
    height: 60px;
    background-position: -13658px 0;
}
.iti-flag.nf {
    height: 40px;
    background-position: -13730px 0;
}
.iti-flag.ng {
    height: 40px;
    background-position: -13812px 0;
}
.iti-flag.ni {
    height: 48px;
    background-position: -13894px 0;
}
.iti-flag.nl {
    height: 54px;
    background-position: -13976px 0;
}
.iti-flag.no {
    height: 58px;
    background-position: -14058px 0;
}
.iti-flag.np {
    height: 60px;
    background-position: -14140px 0;
}
.iti-flag.nr {
    height: 40px;
    background-position: -14191px 0;
}
.iti-flag.nu {
    height: 40px;
    background-position: -14273px 0;
}
.iti-flag.nz {
    height: 40px;
    background-position: -14355px 0;
}
.iti-flag.om {
    height: 40px;
    background-position: -14437px 0;
}
.iti-flag.pa {
    height: 54px;
    background-position: -14519px 0;
}
.iti-flag.pe {
    height: 54px;
    background-position: -14601px 0;
}
.iti-flag.pf {
    height: 54px;
    background-position: -14683px 0;
}
.iti-flag.pg {
    height: 60px;
    background-position: -14765px 0;
}
.iti-flag.ph {
    height: 40px;
    background-position: -14847px 0;
}
.iti-flag.pk {
    height: 54px;
    background-position: -14929px 0;
}
.iti-flag.pl {
    height: 50px;
    background-position: -15011px 0;
}
.iti-flag.pm {
    height: 54px;
    background-position: -15093px 0;
}
.iti-flag.pn {
    height: 40px;
    background-position: -15175px 0;
}
.iti-flag.pr {
    height: 54px;
    background-position: -15257px 0;
}
.iti-flag.ps {
    height: 40px;
    background-position: -15339px 0;
}
.iti-flag.pt {
    height: 54px;
    background-position: -15421px 0;
}
.iti-flag.pw {
    height: 50px;
    background-position: -15503px 0;
}
.iti-flag.py {
    height: 44px;
    background-position: -15585px 0;
}
.iti-flag.qa {
    height: 32px;
    background-position: -15667px 0;
}
.iti-flag.re {
    height: 54px;
    background-position: -15749px 0;
}
.iti-flag.ro {
    height: 54px;
    background-position: -15831px 0;
}
.iti-flag.rs {
    height: 54px;
    background-position: -15913px 0;
}
.iti-flag.ru {
    height: 54px;
    background-position: -15995px 0;
}
.iti-flag.rw {
    height: 54px;
    background-position: -16077px 0;
}
.iti-flag.sa {
    height: 54px;
    background-position: -16159px 0;
}
.iti-flag.sb {
    height: 40px;
    background-position: -16241px 0;
}
.iti-flag.sc {
    height: 40px;
    background-position: -16323px 0;
}
.iti-flag.sd {
    height: 40px;
    background-position: -16405px 0;
}
.iti-flag.se {
    height: 50px;
    background-position: -16487px 0;
}
.iti-flag.sg {
    height: 54px;
    background-position: -16569px 0;
}
.iti-flag.sh {
    height: 40px;
    background-position: -16651px 0;
}
.iti-flag.si {
    height: 40px;
    background-position: -16733px 0;
}
.iti-flag.sj {
    height: 58px;
    background-position: -16815px 0;
}
.iti-flag.sk {
    height: 54px;
    background-position: -16897px 0;
}
.iti-flag.sl {
    height: 54px;
    background-position: -16979px 0;
}
.iti-flag.sm {
    height: 60px;
    background-position: -17061px 0;
}
.iti-flag.sn {
    height: 54px;
    background-position: -17143px 0;
}
.iti-flag.so {
    height: 54px;
    background-position: -17225px 0;
}
.iti-flag.sr {
    height: 54px;
    background-position: -17307px 0;
}
.iti-flag.ss {
    height: 40px;
    background-position: -17389px 0;
}
.iti-flag.st {
    height: 40px;
    background-position: -17471px 0;
}
.iti-flag.sv {
    height: 45px;
    background-position: -17553px 0;
}
.iti-flag.sx {
    height: 54px;
    background-position: -17635px 0;
}
.iti-flag.sy {
    height: 54px;
    background-position: -17717px 0;
}
.iti-flag.sz {
    height: 54px;
    background-position: -17799px 0;
}
.iti-flag.ta {
    height: 40px;
    background-position: -17881px 0;
}
.iti-flag.tc {
    height: 40px;
    background-position: -17963px 0;
}
.iti-flag.td {
    height: 54px;
    background-position: -18045px 0;
}
.iti-flag.tf {
    height: 54px;
    background-position: -18127px 0;
}
.iti-flag.tg {
    height: 50px;
    background-position: -18209px 0;
}
.iti-flag.th {
    height: 54px;
    background-position: -18291px 0;
}
.iti-flag.tj {
    height: 40px;
    background-position: -18373px 0;
}
.iti-flag.tk {
    height: 40px;
    background-position: -18455px 0;
}
.iti-flag.tl {
    height: 40px;
    background-position: -18537px 0;
}
.iti-flag.tm {
    height: 54px;
    background-position: -18619px 0;
}
.iti-flag.tn {
    height: 54px;
    background-position: -18701px 0;
}
.iti-flag.to {
    height: 40px;
    background-position: -18783px 0;
}
.iti-flag.tr {
    height: 54px;
    background-position: -18865px 0;
}
.iti-flag.tt {
    height: 48px;
    background-position: -18947px 0;
}
.iti-flag.tv {
    height: 40px;
    background-position: -19029px 0;
}
.iti-flag.tw {
    height: 54px;
    background-position: -19111px 0;
}
.iti-flag.tz {
    height: 54px;
    background-position: -19193px 0;
}
.iti-flag.ua {
    height: 54px;
    background-position: -19275px 0;
}
.iti-flag.ug {
    height: 54px;
    background-position: -19357px 0;
}
.iti-flag.um {
    height: 42px;
    background-position: -19439px 0;
}
.iti-flag.us {
    height: 42px;
    background-position: -19521px 0;
}
.iti-flag.uy {
    height: 54px;
    background-position: -19603px 0;
}
.iti-flag.uz {
    height: 40px;
    background-position: -19685px 0;
}
.iti-flag.va {
    height: 60px;
    background-position: -19767px 0;
}
.iti-flag.vc {
    height: 54px;
    background-position: -19829px 0;
}
.iti-flag.ve {
    height: 54px;
    background-position: -19911px 0;
}
.iti-flag.vg {
    height: 40px;
    background-position: -19993px 0;
}
.iti-flag.vi {
    height: 54px;
    background-position: -20075px 0;
}
.iti-flag.vn {
    height: 54px;
    background-position: -20157px 0;
}
.iti-flag.vu {
    height: 48px;
    background-position: -20239px 0;
}
.iti-flag.wf {
    height: 54px;
    background-position: -20321px 0;
}
.iti-flag.ws {
    height: 40px;
    background-position: -20403px 0;
}
.iti-flag.xk {
    height: 57px;
    background-position: -20485px 0;
}
.iti-flag.ye {
    height: 54px;
    background-position: -20567px 0;
}
.iti-flag.yt {
    height: 54px;
    background-position: -20649px 0;
}
.iti-flag.za {
    height: 54px;
    background-position: -20731px 0;
}
.iti-flag.zm {
    height: 54px;
    background-position: -20813px 0;
}
.iti-flag.zw {
    height: 40px;
    background-position: -20895px 0;
}
.iti-flag {
    width: 80px;
    height: 60px;
    box-shadow: 0 0 1px 0 #888;
    background-image: url("../images/flags.png");
    background-repeat: no-repeat;
    background-color: #DBDBDB;
    background-position: 80px 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .iti-flag {
        background-image: url("../images/flags@2x.png");
    }
}
.iti-flag.np {
    background-color: transparent;
}
