#all-countries .tabs .nav-tabs li.active a {
    color: #333;
    font-size: 18px;
    font-family: Lato;
    font-weight: bold;
}
#countrie-tabs > li > a:hover {
    background-color: #7db135;
}
#all-countries {
  padding-left: 0px;
  padding-right: 0px;
  .jumbotron{
    margin-bottom: 0px !important;
  }
    h1.text-center {
        margin-bottom: 30px;
        color: #49149f;
        font-family: lato;
        font-weight: 500;
    }
    #countrie-tabs {
        .tabs {
            margin-bottom: 30px;
            .nav-tabs {
                li {
                    &:after,
                    &:before {
                        left: -6px;
                        border-bottom-right-radius: 6px;
                        border-width: 0 1px 1px 0;
                    }
                }
            }
        }
        ul {
            li {
                &:active,
                .active {
                    a {
                        color: rgb( 18, 33, 52 ) !important;
                    }
                }
            }
        }
    }
    .tabs {
        padding-top: 4px;
        margin-bottom: 30px;
        .nav-tabs {
            display: table !important;
            margin-left: auto;
            margin-right: auto;
            li {
                .active {
                    a {
                        color: rgb( 18, 33, 52 ) !important;
                    }
                }
                &:active {
                    a {
                        color: rgb( 18, 33, 52 ) !important;
                    }
                }
                a {
                    color: #f7fbf2;
                    font-family: "Lato";
                    font-size: 18px;
                    padding: 5px 15px !important;
                }
            }
        }
    }
    ul {
        li {
            float: left;
        }
    }
    // #countries-flags {
    .hovereffect {
        width: 100%;
        height: 100%;
        float: left;
        overflow: hidden;
        position: relative;
        text-align: center;
        cursor: pointer;
        &:hover .overlay {
            opacity: 1;
        }
        img {
            max-width: 250px;
            float: left;
            margin: 7px;
            border: 3px solid #bababa;
            border-radius: 10px;
        }
        .overlay {
            max-width: 250px;
            position: absolute;
            overflow: hidden;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            left: 7px;
            top: auto;
            opacity: 0;
            bottom: 7px;
            width: 100%;
            padding: 8px;
            font-family: lato;
            height: 40px;
            background: rgba(0, 0, 0, .7);
            color: #fff;
            -webkit-transition: -webkit-transform 0.35s;
            transition: transform 0.35s;
            -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
        }
        img {
            display: block;
            position: relative;
            -webkit-transition: -webkit-transform 0.35s;
            transition: transform 0.35s;
        }
         p {

            color: #fff;
            font-size: 16px;
            text-shadow: 2px 2px 2px #333333;

        }
        a.info {
            display: inline-block;
            text-decoration: none;
            padding: 7px 14px;
            text-transform: uppercase;
            color: #fff;
            border: 1px solid #fff;
            margin: 50px 0 0;
            background-color: transparent;
        }
        a.info:hover {
            box-shadow: 0 0 5px #fff;
        }
        p.icon-links a {
            float: right;
            color: #3c4a50;
            font-size: 1.4em;
        }
    }
    .hovereffect:hover p.icon-links a:focus,
    .hovereffect:hover p.icon-links a:hover {
        color: #252d31;
    }
    .hovereffect p,
    .hovereffect p.icon-links a {
        -webkit-transition: -webkit-transform 0.35s;
        transition: transform 0.35s;
        -webkit-transform: translate3d(0, 200%, 0);
        transform: translate3d(0, 200%, 0);
    }
    .hovereffect p.icon-links a span:before {
        display: inline-block;
        padding: 8px 10px;
        speak: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .hovereffect:hover .overlay,
    .hovereffect:hover p,
    .hovereffect:hover p.icon-links a {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .hovereffect:hover p {
        -webkit-transition-delay: 0.05s;
        transition-delay: 0.05s;
    }
    .hovereffect:hover p.icon-links a:nth-child(3) {
        -webkit-transition-delay: 0.1s;
        transition-delay: 0.1s;
    }
    .hovereffect:hover p.icon-links a:nth-child(2) {
        -webkit-transition-delay: 0.15s;
        transition-delay: 0.15s;
    }
    .hovereffect:hover p.icon-links a:first-child {
        -webkit-transition-delay: 0.2s;
        transition-delay: 0.2s;
    }
    // }
}
