#amount {
    .jumbotron {
        padding-bottom: 0;
    }
    .navbar-brand {
        margin-top: -30px;
    }
    .nav-pills {
        height: 45px;
        li {
            background-color: #707070;
            border-radius: 0;
            &:nth-child(2) {
                border-left: 3px solid #fff;
                border-right: 3px solid #fff;
            }
            a {
                color: #fff;
                &:hover {
                    background-color: darken(#707070, 15%);
                }
            }
        }
    }
    .nav-pills > li.active > a,
    .nav-pills > li.active > a:focus,
    .nav-pills > li.active > a:hover {
        @extend .green;
    }
    #amount-steps {
        margin-bottom: 30px;
        h1 {
            margin-top: 40px;
            font-family: lato;
        }
        p {
            font-size: 20px;
            font-family: lato;
        }
        ul.price {
            li {
                float: left;
                list-style: none;
                .select-amount {
                    font-size: 43px;
                    font-family: "Lato";
                    color: rgb(18, 33, 52);
                    margin: 15px;
                    padding: 25px 80px;
                    line-height: 3.343;
                    text-align: center;
                    -moz-transform: matrix( 1.576479265759,0,0,1.576479265759,0,0);
                    -webkit-transform: matrix( 1.576479265759,0,0,1.576479265759,0,0);
                    -ms-transform: matrix( 1.576479265759,0,0,1.576479265759,0,0);
                    border-width: 4.43px;
                    border-color: rgb(73, 20, 159);
                    border-style: solid;
                    border-radius: 10px;
                    background-color: rgba(73, 20, 159, 0);
                    width: 344.14px;
                    height: 153.14px;
                    &:hover{
                      background-color: #ccc;
                      text-decoration: none !important;
                    }
                }
            }
        }
    }
}
