footer{
  .green{
    background-color: #8dc63f;
    ul{
      margin-top: 10px;

      li{
        color: #fff;
        padding-bottom: 0px;
        a{
          color: #fff;
          &:hover{
            color: #fff;
          }
        }
      }
    }
  }
  .blue{
    background-color: #122134;
    color: #fff;
    padding: 20px 0px;
  }
}
