.jumbotron {
    width: 100%;
    background-color: transparent;
    .container {
        h3.text-center {
            margin-top: 150px;
            margin-bottom: 50px;
        }
    }
}

h4.text-center.step {
    font-family: "Lato";
    color: rgb( 18, 33, 52);
    font-weight: bold;
    padding-top: 20px;
    line-height: 1.323;
    -moz-transform: matrix( 0.96373635150192, 0, 0, 0.96373635150192, 0, 0);
    -webkit-transform: matrix( 0.96373635150192, 0, 0, 0.96373635150192, 0, 0);
    -ms-transform: matrix( 0.96373635150192, 0, 0, 0.96373635150192, 0, 0);
}

body {
    div {
        div.container {
            h3 {
                font-size: 28px;
            }
        }
    }
}
