#login {
    form {
        input.form-control {
            text-align: left;
        }
        button {
            max-width: 300px;
            margin-top: 15px;
            width: 100%;
            margin-bottom: 80px;
        }
        a {
            margin-bottom: 15px;
        }
    }
}
