input.form-control {
    text-align: center;
    margin-top: 15px;
    border: 1px solid $brand-primary;
    &::placeholder {
        color: ligthen($brand-primary, 15%);
    }
}

button.btn.btn-primary.btn-lg.btn-block {
    margin-top: 15px;
    margin-bottom: 80px;
    height: 60px;
    font-size: 25px;
    font-weight: bold;
}

#signup {
    .intl-tel-input.allow-dropdown {
        width: 100%;
        .iti-flag {
            border-radius: 10px;
        }
    }
    .intl-tel-input.allow-dropdown .flag-container {
        right: auto;
        left: 3px;
        border-left: 1px solid transparent;
    }
}
