#steps-container {
    background-color: rgba(255, 255, 255, .7);
    background-color: rgba(255, 255, 255, .5);
    padding-top: 30px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-top: 50px;
    border-top: 1px solid black;
    h3 {
        margin-bottom: 70px;
    }
    .gradient_down {
        background: linear-gradient(0deg, #fff 0%, transparent 49%);
    }
    .ttu-hvr {
        &:hover {
            img {
               
               transition: 1s;
            }
        }
    }
}
