#topup-countrie {
    .jumbotron {
        background-color: #49149f;
        color: #fff;
        padding-top: 0;
        margin-bottom: 0px;
        nav {
            .navbar-header {
                a {
                    padding-top: 0;
                    margin-top: -1px;
                    img {
                        width: 150px;
                    }
                }
            }
            #navbar {
                padding-top: 30px;
                color: #fff;
                ul {
                    li {
                        a {
                            color: #fff;
                            &:hover {
                                color: #000;
                            }
                        }
                    }
                }
            }
        }
        .intl-tel-input {
            margin-bottom: 25px;
            width: 100%;
            height: 50px;
            color: $brand-primary;
            font-size: 22px;
            font-weight: 600;
            .iti-flag {
                border-radius: 10px;
            }
            #phone {
                height: 50px;
                border-radius: 10px;
                border: 1px solid $brand-primary;
                width: 100%;
                color: $brand-primary;
                font-size: 22px;
                font-weight: 600;
                &::placeholder {
                    color: rgba(73, 20, 159, 0.50);
                    font-size: 18px;
                    font-weight: 600;
                }
            }
        }
        h2 {
            margin-bottom: 30px;
            font-family: lato;
            line-height: 2.74;
            font-size: 36px;
        }
        .Send_TopUp {
            border: 3px solid #fff;
            &:hover {
                border: 3px solid #fff;
            }
        }
    }
    #steps-container{
      border-top: 0px;
      padding-top: 0px;
      margin-top: 15px;
    }
}
